@import '~@angular/material/theming';

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-light-green);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);