:host {
    max-width: 512px;
}

h4 {
    width: 100%;
    margin-bottom: 0;
}

h2 {
    padding: 5px;
}

.margin {
    border-right: solid 1px lightgray;
    h4 {
        text-align: right;
    }
}

mat-list-item {
    height: 30px;
}
