<div class="container-row">
  <h2><mat-icon>panorama_fish_eye</mat-icon></h2>
  <div class="flex-element container-row">
    <mat-list class="flex-element margin">
      <div *ngFor="let text of moveTexts; let i = index">
        <div *ngIf="moveTexts.length < 8 || i > moveTexts.length - 9">
          <mat-list-item *ngIf="i % 2 === 0">
            <h4><b>{{i / 2 + 1}}.</b>    {{text}}</h4>
          </mat-list-item>
        </div>
      </div>
    </mat-list>
    <mat-list class="flex-element">
      <div *ngFor="let text of moveTexts; let i = index">
        <div *ngIf="moveTexts.length < 8 || i > moveTexts.length - 8">
          <mat-list-item *ngIf="i % 2 === 1">
            <h4>{{text}}</h4>
          </mat-list-item>
        </div>
      </div>
    </mat-list>
  </div>
  <h2><mat-icon>lens</mat-icon></h2>
</div>