/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.flex-element {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

.mat-menu-panel {
    max-width: unset !important;
}

.mat-menu-item {
    text-align: center !important;
}