@import '~@angular/material/theming';

@mixin board-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .dark {
        background-color: mat-color($primary, darker);
    }

    .visited {
        background-color: mat-color($primary);        
    }

    .move-button {
        background-color: mat-color($accent);
    }
}