<div class="container-row">
  <mat-grid-list [cols]="board[0].length">
    <div class="row" *ngFor="let row of board; let y = index">
      <mat-grid-tile class="field" *ngFor="let piece of row; let x = index"
      [class.dark]="(y * board.length + x) % 2 !== y % 2">
        <div *ngIf="isVisited(x, y)" class="visited"></div>
        <app-piece *ngIf="piece" [piece]="piece" [moves]="getMoves(x, y, piece)"
          (selected)="selectedMoves=$event"></app-piece>
        <button mat-button *ngIf="isHighlighted(x, y)" (click)="move(x, y)"></button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
<div class="grid-spacer"></div>
<app-move-list class="movelist"></app-move-list>