.container-row {
    justify-content: center;
    align-content: center;
}

.field:hover {
    filter: brightness(85%);
}

mat-grid-list {
    flex: 1;
    min-width: 300px;    
    max-width: 66vh;
    padding-bottom: 0 !important;
}

.grid-spacer {
    min-width: 300px;    
    max-width: 66vh;
    height: calc(((5.85 * ((12.5% - 0.875px) * 1)) + 0px) + 7px);
}

button {
    height: 100%;
    width: 100%;
}

.rotated {
    transform: rotate(180deg) translateY(100%);
}

.visited {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.movelist {
    display: block;
    min-width: 300px;
}

:host {
    height: 100%;
}

app-move-list {
    flex: 1;
}

app-player-turn-indicator {
    position: fixed;
    bottom: 0px;
    width: 100%;
}