.or-container {
    text-align: center;
    
    .big-gray {
        font-weight: 900;
        font-size: 200%;
        width: 100%;
        position: relative;
        top: -12px;
    }
}

.hr {
    flex: 3;
}

:host {
    display: flex;
    flex-direction: row;
    width: 100%;
}